body{
    font-family: "open sans",sans-serif;
}

.first-section{
    background-color:#E4ADBC;
}


.img-logo{
    width: 80px;
    height:80px;
}

.navbar-fixed{
    position: fixed;
    z-index: 1;
}
.nav-link{
    font-family: "open sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/*imagen y titulo*/

.inicio{
    position: relative;
    display: flex;
    justify-content:center ;
    padding-top: 120px;
}

.mi-imagen{
    width: 40%;
    margin-right: 100px;
    z-index: -1;
    background-color: lightcoral;
}

.title-name{
    margin-top: 120px;
    margin-left: -160px;
}

.im{
    font-family: "oswald",sans-serif;
    font-size: 85px;
    font-weight: 200;
    color:#B75D7D;
    }

.name{
    font-family: "oswald",sans-serif;
    font-size: 130px;
    font-weight: 700;
    color:#B75D7D;
    }

/*About Me*/

.parrafos{
    padding-left:0px !important;
    padding-right:0px !important;
    }

.card-body{
    padding:0px !important; 
}

.card-deck{
    display:flex;
    justify-content: center;
}

.card-text{
    font-size: 16px;
    font-weight: 400;
    }

.titulo{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
    
/*Mi Experiencia*/

.experience-aline{
    text-align: center;
}

.experience-icon{
    display: flex;
    justify-content: space-evenly;
    margin:30px 195px;
    width: 700px;
}
.subtitulo{
    font-family: "oswald",sans-serif;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    

}

.puesto{
    font-family:"oswald",sans-serif;
    font-size: 25px;
    font-weight: 200;
}

/*Works*/

.works{
    background-color: #E4ADBC;
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;
    height: 500px;
}
.carousel-indicators li{
    height: 13px !important; 
    width: 13px !important;
    border-radius: 100px;
    border-bottom: 0px !important;
    border-top: 0px !important;
    background-color:#ffffff !important;
}
    
.carousel-indicators{
    position: relative !important;
    margin-top: 15px;
}

.ci1{
    margin-left: 140px;
}

.ci2{
    margin-left: 280px;
}

.carousel-img{
    height: 230px;
    width: 250px;
}
.white-pink{
    color:#ffffff;
}

/*Footer*/

.a1{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.footer{
    background-color:#E4ADBC;
}
.icon{
    width: 40%;
    color:#ffffff;
}

.fab{
    color: #ffffff;
}

.fab:hover{
    color: #1e1e1e;
    font-size: 60px;
}
.a1{
    display: flex;
    text-align: center;
    padding-bottom: 20px;
}

.name-bottom{
    color:#ffffff;
    font-family: "oswald",sans-serif;
    font-size: 72px;
    font-weight: 700;
    width: 40%;
}



@media (max-width:500px){

    .logo{
        width: 100%;
    }

    .img-logo{
        margin-right: 140px;
    }
    
    .inicio{
    display: block;
    justify-content: center;
    padding-top: 90px;
    }

    .mi-imagen{
        width: 100%;
        margin-right:0px;
    }

    .title-name{
        margin-top: -130px;
        margin-left: 25px;
    }

    .name{
        font-size: 100px;
    }

    .im{
        color: #ffffff;
        margin-bottom: -50px;
    }


    
/*Experiencia*/
    .experience-icon{
        display: block;
        justify-content: space-evenly;
        margin:0px;
        width: 100%;
    }
/*Works*/

    .ci1{
    margin-left: 0px;
    }

    .ci2{
    margin-left: 0px;
    }

    .carousel-img{
    height: 100%;
    }

    .works{
        height: 900px;
    
    }

    /*Footer*/
.icon{
    width: 100%;
    color:#ffffff;
    display: inline-block;
    justify-content: space-between;
}

.name-bottom{
    width: 100%;
}


.formu{
    padding-bottom: 0px !important;
}

.contact{
    margin-bottom: 1px !important;
}

}

@media (max-width:360px){
.img-logo{
    margin-right: 80px;
    }
}















